html {
    scroll-behavior: smooth;
}

ody {
    font-style: 'Helvetica';
    font-size: 14px;
}
.textSeePreview {
    font-style: italic;
    display: none;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.field-group {
    margin-bottom: 15px;
}

.inline-fields {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.inline-fields label {
    width: 140px;
}

.inline-fields input {
    flex: 1;
}

.date-sum-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.date-sum-group input {
    width: 45%;
}

#signatureImage {
    max-width: 150px;
}

iframe {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
/* Устанавливаем общий стиль для всех input и textarea */
input, textarea {
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 5px; /* Закругленные углы */
    padding: 4px; /* Отступы внутри элемента для лучшего визуального восприятия */
    width: 100%;
    font-size: 14px; /* Размер шрифта для ввода текста */
    box-sizing: border-box; /* Учитываем отступы и границу в общей ширине элемента */
    margin-top: 4px; /* Отступ снизу для визуального разделения элементов */
}
.inline-fields input, .inline-fields textarea {
    width: auto;
    flex: 1;
    margin-left: 6px;
}
.custom-select {
    width: 100%;
    padding: 4px;
    font-size: 14px;
    line-height: 1.25;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Скрывает стандартный треугольник в некоторых браузерах */
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 4 5%22%3E%3Cpath fill%3D%22%23333%22 d%3D%22M2 0L0 2h4L2 0zM0 3h4l-2 2-2-2z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px 10px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Стили для focus состояния */
.custom-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Стили для disabled состояния */
.custom-select:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

/* Стили для браузера IE и Edge */
.custom-select::-ms-expand {
    display: none;
}

textarea {
    resize: vertical; /* Разрешаем изменять размер только по вертикали */
    min-height: 65px; /* Минимальная высота для textarea */
}

/* Опционально: стиль для кнопок */
button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    font-size: 14px;
    cursor: pointer; /* Изменение курсора на указатель при наведении */
    margin: 5px; /* Отступ вокруг кнопок */
}

button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.form-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

fieldset {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #eee;
}

.preview-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow-y: auto;
}

#pdfPreview {
    width: 100%;
    height: calc(100vh - 40px); /* высота окна минус padding */
    border: 1px solid #ccc;
}

/* Стили для спойлера */
.spoiler {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.spoiler-title {
    cursor: pointer;
    margin: 0;
}
.spoiler-arrow {
    display: inline-block;
    font-size: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; /* Цвет стрелочки */
    margin-left: 8px;
    transition: transform 0.3s ease; /* Плавный переход при изменении */
    vertical-align: middle;
}
.spoiler.open .spoiler-title .spoiler-arrow {
    transform: rotate(90deg); /* Поворот стрелочки при раскрытии */
}
.spoiler-content {
    display: none;
    margin-top: 10px;
}
.spoiler.open .spoiler-content {
    display: block;
}

/* Добавляем стили для мобильных устройств */
@media (max-width: 768px) {

    .textSeePreview {
        display: inline;
    }
    .container {
        flex-direction: column;
    }

    .form-container, .preview-container {
        width: 100%;
        padding: 10px;
        overflow-y: visible;
    }
    .inline-fields {
        display: block;   
    }
    .inline-fields label, .inline-fields input, .inline-fields textarea  {
        width: 100%;    
    }

}